
.count{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background-color: crimson;
    color: #fff;
    border-radius: 50%;
}
.cart{
    min-height:70vh;
}
.signUp{
    min-height: 70vh;
}
.tools{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99999999;
}
.tool{
    width:40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 0.2s;
}
.tool:hover{
    transform: scale(1.15);
    transition-duration: 0.2s;
}
.alert-mesage{
    max-width: 250px;
    color: #7E4A4D;
    position: fixed;
    top: 90px;
    right: 20px;
    border: none;
    border-radius: 3px;
    column-gap: 2px;
}
.progress-line{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 0%;
    height: 3px;
    position: fixed;
    bottom: 0;
    left: 0px;
    animation: progress 1.5s ease-in-out  1 forwards ;
}
.alert-svg{
    width: 20px;
    height: 20px;
}
@keyframes progress {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@media (max-width:800px) {
    .count{
        right: 5px;
        top: 10px;
    }
    .s-cart{
        column-gap: 130px;
        row-gap: 10px;
        border-bottom: 1px solid rgb(210, 208, 208);
        padding-bottom: 10px;
    }
}
@media (max-width:600px) {
   
    .s-cart{
        column-gap: 60px;
    }
}
@media (max-width:450px) {
   
    .s-cart{
        column-gap: 30px;
    }
}
@media (max-width:360px) {
   
    .s-cart{
        column-gap: 50px;
    }
}
